.card {
  background-color: white;
  margin: 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.1s ease-in;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 200px;
}

.card .img-container {
  margin: auto 0;
}

.card p {
  text-align: center;
  width: 180px;
  margin: 0 auto;
  padding: 0.5em 0;
  font-style: italic;
}
